.button{ 
    height: 40px;
    border: 0;
    color: #fff;
    background-color: #9E2A2B;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 0px 10px;
    border-radius: 3px;
    margin: 0px 10px;
    cursor: pointer;
}