.input{
    width: 250px;
    height: 35px;
    background-color: #EFD5C3;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}

.wrong{
    background-color: #FF5833;
}